# Data Science Tools and Ecosystems

#In this notebook, Data sciece tools and Ecosystems  are summarised.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List common data science tools
- Evaluate simple arithmetic expressions
- Convert minutes to hours

Some of the popular languages that Data scientists use are :
1. Python
2. R
3. SQL

some of the most commonly used libraries used by Data scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Python             |
| R                  |
| SQL                |
| Jupyter Notebooks  |
| TensorFlow         |
| Hadoop             |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
#  This a simple arithmetic expression to mutiply then add integers
result=(3*4)+5
result

17

In [22]:
# This will convert 200 minutes to hours by dividing by 60
hours=200/60
hours

3.3333333333333335

## Author
Kristo Tom Francis